<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

<propeties>
	<Property name="basepath">./logs</Property>>
</propeties>

      <Appenders>
      
        <Console name="Console" target="SYSTEM_OUT">
          <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        
          <RollingFile name="FILE" fileName="${basepath}/automation.log" filePattern="${basepath}/appName-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
        </RollingFile>
      </Appenders>
      <Loggers>
        <Root level="info">
          <AppenderRef ref="File"/>
        </Root>
      </Loggers>
    </Configuration>